$icomoon-font-family: "btd-icon" !default;
$icomoon-font-path: "fonts" !default;

$btd-add-line: "\e900";
$btd-close-fill: "\e901";
$btd-copy: "\e902";
$btd-moon: "\e903";
$btd-search: "\e904";
$btd-sun: "\e905";
$btd-crown: "\e906";
$btd-lock: "\e907";
$btd-delete: "\e908";
$btd-upload: "\e909";
$btd-tick: "\e90a";
$btd-duplicate: "\e90b";
$btd-lock-open: "\e90c";
$btd-key: "\e90d";
$btd-arrow-up: "\e90e";

